.sidebar-header {
  width: 100%;
  height: 200px;
  background-image: url(/img/back.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.face {
  height: 54px;
  border-radius: 50%;
}


.bajar {
  src: url(/js/components/material-design-icons/navigation/2x_web/ic_expand_more_white_24dp.png)
}


.svg-icon {
  width: 24px;
  height: 24px;
}