{
    "env": {
        "browser": true
    },
    "globals": {
        "angular": false,
        "$": false
    },
    "pulugins":["angular"],
    "rules": {
        "curly": [2, "multi"],
        "quotes": [2, "single"],
        "eol-last": false,
        "strict": "never",
        "no-use-before-define": false
    }
}