<div ng-show="loading" flex layout="row" layout-sm="column"  layout-align="center center">
  <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!loading">
  <h1 ng-if="items.length == 0"> No hay agentes, agrega más.</h1>
  <md-list>
    <md-item>
      <md-item-content>
        <form name="agentForm" layout="row">
          <md-button ng-hide="saving" ng-click="addAgent()" class="md-fab">+</md-button>
          <md-progress-circular ng-show="saving" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
          <md-input-container flex>
            <label>Agente</label>
            <input ng-model="agent.name" ng-disabled="saving">
          </md-input-container>
          <md-input-container flex>
            <label>Nombre Real</label>
            <input ng-model="agent.realName" ng-disabled="saving">
          </md-input-container>
        </form>
      </md-item-content>
    </md-item>
    <md-item ng-repeat="item in items">
      <md-item-content>
        <div class="md-tile-content">
          <h2>{{item.name}}</h2>
        </div>
      </md-item-content>
    </md-item>
  </md-list>
</div>