<div ng-show="key.loading" flex layout="row" layout-sm="column"  layout-align="center center">
  <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
</div>
<div flex ng-if="!key.loading">
  <md-content>
    <md-list>
      <md-item ng-repeat="item in key.items">
        <md-item-content>
          <div class="md-tile-content">
            <h3>{{item.portal.title}}</h3>
            <h4>mini</h4>
            <p><span>Agente[3]&nbsp;Agente3[4]</span></p>
          </div>
          <md-button ng-click="key.selectKey(item)">Go</md-button>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
    </md-list>
  </md-content>
</div>