<md-content layout="row" layout-fill class="md-padding">
	<md-tabs>
		<md-tab flex layout-fill>
			<md-tab-label>Agregar</md-tab-label>
			<md-input-container>
				<input type="search" ng-model="portalQuery"/>
				<md-button ng-click="searchPortal(portalQuery)">Buscar</md-button>
			</md-input-container>
			<md-list flex layout-fill>
				<md-item ng-repeat="portal in portals" layout="row">
					<md-button class="md-primary" ng-click="addPortal(portal)">+</md-button>
					<md-item-content>{{portal.title}}</md-item-content>
				</md-item>
			</md-list>
		</md-tab>
		<md-tab flex layout-fill>
			<md-tab-label>Seleccionados</md-tab-label>
			<md-list flex layout-fill>
				<md-item ng-repeat="portal in operation.portals">
					<md-item-content style="display:inline-block; width:180px; white-space: nowrap;
    overflow:hidden !important; text-overflow: ellipsis;">{{portal.title}}</md-item-content>
					<md-switch ng-model="portal.selected" ng-change="set(portal)"></md-switch>
				</md-item>
			</md-list>
		</md-tab>
	</md-tabs>
	<md-content flex ="70" layout="column">
		<md-content>
			<md-button ng-click="resize()">Resize</md-button>
		</md-content>
		<md-content flex>
			<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" style="width:100%; height:100%">
				<ui-gmap-polyline ng-repeat="p in polylines" path="p.path"></ui-gmap-polyline>
				<ui-gmap-markers models="markers" coords="'self'" icon="'icon'" click="'test'">
					<ui-gmap-windows show="show">
						<div ng-non-bindable>{{title}}</div>
					</ui-gmap-windows>
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</md-content>
	</md-content>
</md-content>