<md-dialog aria-label="Ingresar JSON para procesar el dato del portal">
  <form name="jsonForm" ng-model="portal" ng-submit="jsonForm.$valid && answer(importMulti, rawPortalData, portalId)">
    <md-content>
      <md-switch hide ng-model="importMulti" aria-label="Tipo">{{ importMulti ? 'Portales múltiples' : 'Portal único'}}</md-switch>
      <md-input-container flex>
        <label>Portal Id</label>
        <input required type="text" ng-model="portalId"></input>
      </md-input-container>
      <md-input-container flex>
        <label>JSON Portal</label>
        <input required type="text" ng-model="rawPortalData"></input>
      </md-input-container>
    </md-content>
    <div class="md-actions" layout="row">
      <!--<md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" hide show-md>
        More on Wikipedia
      </md-button>-->
      <span flex></span>
      <md-button ng-hide="importMulti" type="Submit" class="md-primary">
        Procesar
      </md-button>
      <md-button ng-show="importMulti" ng-click="answer(importMulti, rawPortalData, '')" class="md-primary">
        Procesar Lista
      </md-button>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
    </div>
  </form>
</md-dialog>