<div layout="column">
  <md-content class="md-padding">
    <md-list>
      <md-item ng-repeat="item in portals">
        <md-item-content>
          <div class="md-tile-left">
            <img ng-src="{{item.image}}" class="face" alt="{{item.who}}">
          </div>
          <div class="md-tile-content">
            <h3>{{item.title}}</h3>
            <h4>{{item.lat}}</h4>
            <h4>{{item.lon}}</h4>
            <!--<p>
            {{item.notes}}
            </p>-->
          </div>
        </md-item-content>
      </md-item>
    </md-list>
    <form name="userForm" ng-model="portal">
      <md-button class="md-primary" ng-click="showProcessDialog()" hide show-gt-sm>Usar datos JSON</md-button>

      <div flex layout-sm="column" layout-gt-sm="row">
        <img ng-if="portal.image" ng-src="{{portal.image}}" style="max-height:100px;max-width:100px;margin-right:10px;">
        <div>
          <md-input-container flex>
            <label>Nombre portal</label>
            <input ng-model="portal.title">
          </md-input-container>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Lat</label>
              <input ng-model="portal.lat">
            </md-input-container>
            <md-input-container flex>
              <label>Lon</label>
              <input ng-model="portal.lon">
            </md-input-container>
          </div>
        </div>
      </div>
      <!--
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>First Name</label>
          <input ng-model="user.firstName" placeholder="Placeholder text">
        </md-input-container>
        <md-input-container flex>
          <label>Last Name</label>
          <input ng-model="theMax">
        </md-input-container>
      </div>
      <md-input-container flex>
        <label>Address</label>
        <input ng-model="user.address">
      </md-input-container>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>City</label>
          <input ng-model="user.city">
        </md-input-container>
        <md-input-container flex>
          <label>State</label>
          <input ng-model="user.state">
        </md-input-container>
        <md-input-container flex>
          <label>Postal Code</label>
          <input ng-model="user.postalCode">
        </md-input-container>
      </div>-->
      <md-button class="md-primary" ng-click="savePortal()">Guardar</md-button>
      <md-button aria-label="" class="md-primary" ng-href="/portals/">Volver al listado</md-button>
    </form>
    <form ng-show="ui.processMenu">1
      <md-button class="md-primary" ng-click="processPortal(rawPortalData); ui.processMenu = false;">OK</md-button>
      <md-button class="md-primary" ng-click="ui.processMenu = false;">Cancelar</md-button>
    </form>
  </md-content>
</div>