<form name="importForm" layout-fill>
  <md-input-container>
    <label>JSON</label>
    <textarea ng-model="rawJson" columns="1" max-rows="10" style="max-height: 400px;"></textarea>
  </md-input-container>
  <md-button class="md-primary" ng-click="processGameEntities(rawJson)">Procesar</md-button>
  <md-button class="md-primary" ng-click="import()">Guardar</md-button>
</form>
<md-list layout-fill>
  <md-item ng-repeat="item in importPortals">
    <md-item-content>
      <div class="md-tile-left">
        <img ng-src="{{item.image}}" style="border:1px solid #ddd;width:30px;margin:4px;">
      </div>
      <div class="md-tile-content">
        <h2>{{item.title}} {{item.saved?'OK':''}}</h2>
      </div>
    </md-item-content>
  </md-item>
</md-list>