<md-dialog aria-label="Photos">
    <md-content layout-fill>
        <md-progress-circular layout-fill md-mode="indeterminate" ng-hide="imgViewerVm.portal"></md-progress-circular>
        <section>
           <md-button class="md-primary">{{imgViewerVm.portal.title}}</md-button>
            <a href="{{imgViewerVm.portal.image}}" target="_blank"><img layout-fill style="height: auto; width: 77vw; max-width: 100%;" ng-src="{{imgViewerVm.portal.image}}"/></a>
        </section>
    </md-content>
    <div class="md-actions" layout="row">
        <md-button class="md-primary" ng-click="imgViewerVm.ok()">OK</md-button>
    </div>
</md-dialog>