<md-toolbar layout="row" layout-padding layout-align="space-around center">
    <div flex="66" layout-align="start center">
      <img ng-src="{{portal.image}}" style="max-height:40px;max-width:40px;height:40px;" hide show-gt-sm>
      <portal-title portal-info="portal"></portal-title>
    </div>
    <div flex="33" layout="row" layout-align="end center">
      <md-switch hide-sm ng-model="sys_config.allow_sidebar_right_locked_open" aria-label="Fijar">
        <span hide>Fijar: {{ sys_config.allow_sidebar_right_locked_open }}</span>
      </md-switch>
      <md-button ng-click="closeRight()" class="md-accent" ng-hide="sys_config.allow_sidebar_right_locked_open">X</md-button>
    </div>
</md-toolbar>
<md-content flex layout="column" layout-align="center start">
  <md-content flex layout-fill>
    <md-tabs flex layout-fill layout-padding md-selected="selectedIndex" class="minHeightMdTabsContent">
      <md-tab>
        <md-tab-label>Llaves</md-tab-label>
        <md-toolbar layout="row" layout-padding layout-align="space-around center">
          <md-input-container>
            <input type="text" name="agent" ng-model="agentCodeName">
            <!--<md-autocomplete 
              md-selected-item="key.agent"
              md-search-text="nameQuery"
              md-items="acitem in querySearchAgentes(nameQuery)"
              md-item-text="codeName"
              placeholder="codename">
              <span md-highlight-text="key.agentKey">{{acitem.codeName}}</span>
            </md-autocomplete>-->
          </md-input-container>
          <div layout="row" flex="40" layout-align="end center">
            <md-input-container flex>
              <input type="number" ng-model="amount">
            </md-input-container>
            <md-button flex aria-label="" class="md-accent md-fab md-mini" ng-click="addKey(portal, agentCodeName, amount); key = {}">+</md-button>
          </div>
        </md-toolbar>
        <md-list flex>
          <md-item layout="column" ng-repeat="key in portal.keys | orderBy:'codeName':true">
            <md-item-content>
              <div class="md-tile-content" layout="row" layout-padding>
                <md-button flex="60">{{key.agent.codeName}}</md-button>
                <div layout="row" flex="40" layout-align="end center">
                  <md-input-container flex>
                    <input type="number" ng-model="key.amount">
                  </md-input-container> 
                  <md-button aria-label="" class="md-warn md-fab md-mini" ng-click="deleteKey(portal, key); key = {}">
                    <span>X</span>
                  </md-button>
                </div>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </md-tab>
      <md-tab>
        <md-tab-label>Etiquetas</md-tab-label>
        <md-toolbar layout="row" layout-padding layout-align="space-around center">
          <md-input-container flex="85">
            <md-autocomplete 
              md-selected-item="newlabel.selectedItem"
              md-search-text="labelQuery"
              md-items="acitem in querySearchLabels(labelQuery)"
              md-item-text="name"
              placeholder="Etiqueta">
              <span md-highlight-text="labelQuery">{{acitem.name}}</span>
            </md-autocomplete>
          </md-input-container>
          <div layout="row" flex="15" layout-align="end center">
            <md-button flex aria-label="" class="md-accent md-fab md-mini" ng-click="addLabel(this.labelQuery);">+</md-button>
          </div>
        </md-toolbar>
        <md-list flex>
          <md-item layout="column" ng-repeat="Label in portal.labels | orderBy:'+':false">
            <md-item-content>
              <div class="md-tile-content" layout="row" layout-padding>
                <md-button flex="85" ng-href="/portals/labelled/{{Label}}">#{{Label}}</md-button>
                <div layout="row" flex="15" layout-align="end center">
                  <md-button flex aria-label="" class="md-warn md-fab md-mini" ng-click="deleteLabel(Label);">
                    <span>X</span>
                  </md-button>
                </div>
              </div>
            </md-item-content>
          </md-item>
        </md-list>
      </md-tab>
      <md-tab label="Info">
        <div layout="column" layout-padding layout-align="start start">
          <img ng-src="{{portal.image}}" style="max-height:300px;max-width:300px;height:300px" hide show-gt-sm>
          <md-input-container>
            <label>Telefonía Disponible</label>
            <textarea ng-model="portal.TelefoniaDisponible"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Horarios</label>
            <textarea ng-model="portal.Horarios"></textarea>
          </md-input-container>
        </div>
      </md-tab>
      <md-tab label="Logística">
        <div layout="column" layout-padding layout-align="start start">
          <md-input-container>
            <label>Tipo de Recinto</label>
            <textarea ng-model="portal.TipoRecinto"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Accesibilidad</label>
            <textarea ng-model="portal.Accesibilidad"></textarea>
          </md-input-container>
          <md-input-container>
            <label>Tips</label>
            <textarea ng-model="portal.Tips"></textarea>
          </md-input-container>
        </div>
      </md-tab>
      <md-tab label="Mapa">
          <ui-gmap-google-map control="map.control" center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" ng-if="portal">
          <ui-gmap-marker idKey="'marker.id'" coords="marker.coords" options="marker.options" >
            <ui-gmap-window show="'showPopup'">
              <div>{{marker.options.labelContent}}</div>
            </ui-gmap-window>
          </ui-gmap-marker>
          </ui-gmap-google-map>          
      </md-tab>
    </md-tabs>
  </md-content>
  <div layout="row" layout-fill layout-align="space-around center">
    <md-button aria-label="" class="md-raised md-primary" ng-click="savePortal()">Guardar cambios</md-button>
    <!--<md-button aria-label="" class="md-primary md-raised" ng-click="hidePortal()">Volver al listado</md-button>-->
  </div>
</md-content>

