<md-bottom-sheet class="md-grid background_intel_ingress" layout-align="space-around center" ng-cloak>
<div md-theme="myAltTheme">
  <md-list>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('showPortal')" layout="column" layout-align="center center">
        <div class="md-icon-container">
          <div class="md-icon-container-img" layout="row" layout-align="center center">
            <div class="icon-action-white icon-action-white-ic_info_outline_white_24dp"></div>
          </div>
        </div>
        <p class="md-grid-text background_intel_ingress">Info</p>
      </md-button> 
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('toggleLink')">
        <div class="md-icon-container">
          <img style="padding: 4px;" src="/img/map_icons/linkclearicon.png">
        </div>
        <p class="md-grid-text background_intel_ingress">Link</p>
      </md-button> 
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('intel')">
        <div class="md-icon-container">
          <div class="md-icon-container-img">
            <div class="SPRITE_maplink header_icon" style="position: relative; top: 8px;"></div>
          </div>
        </div>
        <p class="md-grid-text background_intel_ingress">Intel</p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('map')">
        <div class="md-icon-container">
          <div class="md-icon-container-img">
            <div class="img_snap header_icon"></div>
          </div>
        </div>
        <p class="md-grid-text background_intel_ingress">Mapa</p>
      </md-button>
    </md-item>
  </md-list>
</div>
</md-bottom-sheet>