<md-content flex layout="column" layout-align="center center">
  <md-content>
    <img ng-src="{{portal.image}}" style="max-height:300px;max-width:300px;height:300px">
    <form name="userForm">
      <md-input-container flex>
        <portal-title portal-info="portal"></portal-title>
      </md-input-container>
      <md-list layout="row" layout-align="center center">
        <md-item ng-repeat="label in portal.labels">
          <md-item-content style="padding-right: 10px;">
            <span>#{{label}}</span>
          </md-item-content>
        </md-item>
      </md-list>
      <div layout="row" layout-fill layout-align="space-around center">
        <input type="text" ng-model="newlabel" placeholder="Enter a label">
        <md-button aria-label="" class="md-primary" ng-click="addLabel(newlabel);newlabel='';">+</md-button>
      </div>
    </form>
  </md-content>
  <md-content flex layout-fill>
    <md-tabs flex layout-fill md-selected="selectedIndex">
      <md-tab>
        <md-tab-label>Llaves</md-tab-label>
        <md-toolbar layout="row" >
          <md-button aria-label="" class="md-primary md-fab md-mini" ng-click="addKey(portal, key); key = {}">+</md-button>
          <md-input-container flex="60">
            <md-autocomplete flex
              md-search-text="nameQuery"
              md-selected-item="key.agent"
              md-items="acitem in querySearchAgentes(nameQuery)"
              md-item-text="codeName"
              placeholder="@codename">
              <span md-highlight-text="key.agentKey">{{acitem.codeName}}</span>
            </md-autocomplete>
          </md-input-container>
          <md-input-container flex>
            <label>Cantidad</label>
            <input type="number" ng-model="key.amount">
          </md-input-container>
        </md-toolbar>
        <md-list flex>
          <md-item layout layout-sm="column" ng-repeat="key in portal.keys">
            <md-item-content>
              @{{key.agentKey}} {{key.amount}} [edit] [remove]
            </md-item-content>
          </md-item>
        </md-list>
      </md-tab>
      <md-tab label="Logística">
        <div layout="column" layout-fill layout-align="space-around center">
          datos
        </div>
      </md-tab>
    </md-tabs>
  </md-content>
  <div layout="row" layout-fill layout-align="space-around center">
    <md-button aria-label="" class="md-raised md-primary" ng-click="savePortal()">Guardar cambios</md-button>
    <!--<md-button aria-label="" class="md-primary md-raised" ng-click="hidePortal()">Volver al listado</md-button>-->
  </div>
</md-content>