<md-dialog layout-padding>
	<md-subheader>Ingrese los datos</md-subheader>
	<form name="newKeyForm" ng-submit="newKeyForm.$valid && save(amount)">
		<md-input-container ng-if="!portal">
		    <label>Portal</label>
			<input ng-model="portal" type="text" required/>
		</md-input-container>
		<span ng-if="portal">{{portal.title}}</span>
		<md-input-container>
		    <label>Cantidad</label>
			<input ng-model="amount" type="number" required/>
		</md-input-container>
		<md-button type="Submit">Crear Llave</md-button>
	</form>
</md-dialog>