<md-content layout="column" flex layout-fill layout-align="center center" ng-show="loading">
  <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  <span>Cargando Portales</span>
</md-content>
<md-content ng-hide="loading" flex class="fab-list">
  <md-list>
    <md-item ng-repeat="item in items">
      <md-item-content layout="row" ng-class="{'linkable_portal':true,  'linkable_portal_selected':selectedPortalsToLink.indexOf(item.title) != -1}">
        <img ng-src="{{item.image}}" class="face"/>
        <md-button class="md-tile-content" layout="column" ui-sref="portal.view({id:item.id})">
          <h3>{{item.title}}</h3>
          <h4>{{item.address}}</h4>
          <!--<p>
          <md-list layout="row" layout-wrap ng-if="item.keys">
            <md-item ng-repeat="key in item.keys | orderBy:'amount':true">
              <md-item-content>{{key.agentId}} ({{key.amount}})</md-item-content>
            </md-item>
          </md-list>
        </p>
        -->
        <!--<md-list layout="row" layout-wrap ng-if="item.labels">
        <md-item ng-repeat="label in item.labels">
          <md-item-content class="md-accent">
            <md-button aria-label="" ng-click="searchPortal(label)" class="md-primary md-hue-2">{{label|normalizelabel}}</md-button>
          </md-item-content>
        </md-item>
      </md-list>
      -->
    </md-button>
    <md-whiteframe layout="row" layout-align="space-around center" layout-padding>
      <md-button ng-click="saveFavourite(item)" class="md-warn" aria-label="">
        <md-icon ng-show="item.favourite" md-svg-icon="action:ic_favorite_24px"></md-icon>
        <md-icon ng-hide="item.favourite" md-svg-icon="action:ic_favorite_outline_24px"></md-icon>
        <md-tooltip>Favorito</md-tooltip>
      </md-button>
      <md-button hide show-gt-md ng-href="{{item.gmapsUrl}}" target="_blank" aria-label="">
        <md-icon md-svg-icon="maps:ic_map_24px"></md-icon>
        <md-tooltip>Mapa</md-tooltip>
      </md-button>
      <md-button hide show-gt-md ng-click="copyToClipboard(item.wazeUrl);" aria-label="">
        <md-icon md-svg-icon="maps:ic_directions_car_24px"></md-icon>
      </md-button>
      <md-button hide show-gt-md aria-label="" ng-href="{{item.ingressUrl}}" target="_blank">
        <md-icon md-svg-icon="maps:ic_my_location_24px"></md-icon>
        <md-tooltip>Intel</md-tooltip>
      </md-button>
      <md-button hide show-gt-md aria-label="" ng-href="/portals/{{item.id}}" target="_self">
        <md-icon md-svg-icon="content:ic_link_24px"></md-icon>
        <md-tooltip>Permalink</md-tooltip>
      </md-button>
    </md-whiteframe>
  </md-item-content>
  <md-divider ng-if="!$last"></md-divider>
</md-item>
<md-item ng-if="items.length > 0">
  <md-item-content layout="row" layout-align="center center">
    <md-button ng-disabled="!thereIsMore" ng-click="loadMore()" class="md-raised md-warn">{{thereIsMore ? 'Cargar Más' : 'No hay más portales'}}</md-button>
  </md-item-content>
</md-item>
</md-list>
</md-content>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add Portal" ui-sref="portal.import">
<md-icon md-svg-icon="content:ic_add_24px" alt="Agregar Portal"></md-icon>
<md-tooltip>Agregar portal</md-tooltip>
</md-button>