<md-bottom-sheet class="md-grid background_intel_ingress" layout-align="space-around center" ng-cloak>
<div>
  <md-list>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('intel')">
        <div class="md-icon-container">
          <md-icon md-svg-icon="maps:ic_my_location_24px"></md-icon>
        </div>
        <p class="md-grid-text background_intel_ingress">Intel</p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('waze')">
        <div class="md-icon-container">
          <md-icon md-svg-icon="maps:ic_directions_car_24px"></md-icon>
        </div>
        <p class="md-grid-text background_intel_ingress">Waze</p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('map')">
        <div class="md-icon-container">
          <md-icon md-svg-icon="maps:ic_map_24px"></md-icon>
        </div>
        <p class="md-grid-text background_intel_ingress">Mapa</p>
      </md-button>
    </md-item>
    <md-item>
      <md-button class="md-grid-item-content" aria-label="" ng-click="itemClick('showImage')" layout="column" layout-align="center center">
        <div class="md-icon-container">
          <md-icon md-svg-icon="image:ic_image_24px"></md-icon>        
        </div>
        <p class="md-grid-text background_intel_ingress">Foto</p>
      </md-button> 
    </md-item>
  </md-list>
</div>
</md-bottom-sheet>