<div ng-show="loading" flex layout="row" layout-sm="column"  layout-align="center center">
  <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-if="!loading">
  <md-content layout layout-padding>
    <h1 ng-if="items.length == 0"> No hay agentes, agrega más.</h1>
    <md-list>
      <md-item ng-repeat="item in items">
        <md-item-content layout="row">
          <div class="md-tile-left" hide-sm>
            <img ng-show="item.image" ng-src="{{item.image}}" class="face">
            <img ng-hide="item.image" ng-src="/img/blank_profile.png" class="face">
          </div>
          <div class="md-tile-content" layout="column" layout-align="center start">
            <md-button class="md-primary" ng-href="/agents/{{item.id}}">{{item.codeName}} ({{item.realName}})</md-button>
            <md-button aria-label="" ng-click="">{{item.email}}</md-button>
          </div>
        </md-item-content>
        <md-divider ng-if="!$last"></md-divider>
      </md-item>
      <md-item>
        <md-item-content>
          <form name="agentForm" layout="row" layout-sm="column" ng-model="agent" ng-submit="agentForm.$valid && addAgent()">
            <md-input-container flex>
                <label>Agente (codename)</label>
                <input required ng-model="agent.codeName" ng-disabled="saving">
            </md-input-container>
            <md-input-container flex>
              <label>Nombre Real</label>
              <input required ng-model="agent.realName" ng-disabled="saving">
            </md-input-container>
            <md-input-container flex>
              <label>Email</label>
              <input required type="email" ng-model="agent.email" ng-disabled="saving">
            </md-input-container>
            <md-button aria-label="Agregar portal" ng-hide="saving" type="submit" class="md-fab md-warn">+</md-button>
            <md-progress-circular ng-show="saving" class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
          </form>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
</div>
