<!DOCTYPE html>
<html ng-app="goGress" ng-controller="AppController">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/css/app.css">

  <link rel="stylesheet" href="/css/misc_icons.css">
  <link ng-if="sys_config.font == 'Roboto'" rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic">
  <link ng-if="sys_config.font == 'Roboto'" rel="stylesheet" href="/css/font_roboto.css">
  <link ng-if="sys_config.font == 'Coda'" href='http://fonts.googleapis.com/css?family=Coda:400,800' rel='stylesheet' type='text/css'>
  <link ng-if="sys_config.font == 'Coda'" rel="stylesheet" href="/css/font_coda.css">

  <script src="http://hammerjs.github.io/dist/hammer.min.js"></script>
  <!--TODO: load async -->
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <!--angular-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-messages.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>
  <!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-route.js"></script>
-->
<script src="//cdn.jsdelivr.net/satellizer/0.9.2/satellizer.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.0.12/angular-google-maps.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

<!--angular material-->
<script src="/js/components/angular-material/angular-material.min.js"></script>
<link rel="stylesheet" href="/js/components/angular-material/angular-material.min.css">

<!--ui-router-->
<script src="/js/components/ui-router/release/angular-ui-router.min.js"></script>

<!-- matchedia -->
<script src="/js/components/angular-media-queries/match-media.js"></script>

<script src="/js/app.js"></script>
<script src="/js/appController.js"></script>
<script src="/js/appConfig.js"></script>
<script src="/js/imageViewerController.js"></script>
<script src="/js/deviceInfoService.js"></script>
<script src="/js/filters.js"></script>
<script src="/js/userDataFactory.js"></script>
<script src="/js/userDataService.js"></script>


<script src="/js/agent/agentListController.js"></script>
<script src="/js/agent/agentFactory.js"></script>

<script src="/js/label/labelListController.js"></script>
<script src="/js/label/labelFactory.js"></script>

<script src="/js/operation/operationListController.js"></script>
<script src="/js/operation/operationController.js"></script>
<script src="/js/operation/operationFactory.js"></script>

<script src="/js/portal/portalController.js"></script>
<script src="/js/portal/portalListController.js"></script>
<script src="/js/portal/portalFactory.js"></script>

<script src="/js/key/keyFactory.js"></script>
<script src="/js/key/keyListController.js"></script>



<base href="/"></head>
<body md-theme="{{sys_config.theme}}">
<div layout="row" style="height:100%">
  <md-sidenav layout="column" layout-fill class="md-sidenav-left" md-component-id="left" md-is-locked-open="desktop && sys_config.allow_sidebar_left_locked_open" style="width:300px"ng-include="'/partials/app_main_menu.html'"></md-sidenav>
  <div flex layout="column">
    <md-toolbar class="md-toolbar-tools" layout-align="center center">
      <md-button aria-label="Menu" ng-click="toggleLeft()">
        <md-icon md-svg-icon="ic_arrow_back_24px" class="md-accent" alt="Alarm Icon"></md-icon>
      </md-button>
      <h1 ng-if="!openSearch" flex>{{state.current.title}}</h1>
      <md-card flex ng-if="openSearch && querySearch">
        <md-input-container flex style="background-color: white;">
          <input ng-model="search" ng-keyup="onSearchKeyDown($event, search)"/>
        </md-input-container>
      </md-card>
      <md-button ng-show="querySearch && auth.isAuthenticated()"  aria-label="Limpiar búsqueda actual" ng-click="openSearch = !openSearch">
        <md-icon md-svg-icon="action:ic_search_24px" class="md-accent" alt="Alarm Icon"></md-icon>
        <md-progress-circular ng-show="searching" class="md-accent" md-mode="indeterminate"></md-progress-circular>
      </md-button>
    </md-toolbar>
    <md-content layout="row" flex ui-view style="z-index:1;"></md-content>
  </div>
</div>
</body>
</html>